html,
body {
  height: 100%;
}

body {
  font-family: $font-main;
  line-height: 1.65;
  color: $text-color;
}

main {
  flex: 1;
  min-height: 100vh;
}

.global-container {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin-left: 0 !important;
}
