footer {
  padding: 20px 0;
  border-top: solid 1px #f7f7f7;
  color: $gray-800;
  font-size: 14px;
}

.footer-title {
  font-family: $font-title;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 24px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  gap: 2px;
  padding: 0 20px;
  border-left: solid 2px $gray-800;
}

.footer-links div {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer-links svg {
  width: 16px;
  height: 16px;
}

.footer-links a {
  display: flex;
  gap: 4px;
}

.footer-links a:hover {
  opacity: 0.7;
}

.footer-copy {
  opacity: 0.7;
  font-size: 13px;
}
