---
---

@import 'minima';

.global-container {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1024px !important;
  padding: 0 !important;
}

main {
  flex: 1;
}
