<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <!-- ko. pretendard font -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css"
    />
    <!-- eg. inter font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
      data-font="inter"
    />
    <!-- logo. Rubik font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {% include header.html %}
    <div class="global-container">
      <main class="page-content" aria-label="Content">
        <div class="wrapper">{{ content }}</div>
      </main>
      {% include footer.html %}
    </div>
  </body>

  <!-- JavaScript to change header style on scroll -->
  <script>
    const header = document.querySelector('header');

    if (header) {
      window.addEventListener('scroll', () => {
        header.classList.toggle('scrolled', window.scrollY > 10);
      });
    }
  </script>
</html>
