<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
  </head>

  <body>
    {% include header.html %}
    <div class="global-container">
      <main class="page-content" aria-label="Content">
        <div class="wrapper">{{ content }}</div>
      </main>
      {% include footer.html %}
    </div>
  </body>

  <script>
    const header = document.querySelector('header');

    console.log(header);

    if (header) {
      window.addEventListener('scroll', () => {
        header.classList.toggle('scrolled', window.scrollY > 10);
      });
    }
  </script>
</html>
